<main>
  @if (errorLoading) {
    <app-error></app-error>
  } @else {
    <ul class="users">
      <li><span class="user-title">USERS: </span></li>
      @for(utilisateur of utilisateurs;track utilisateur.id){
        <li>
          <app-user-card [user]="utilisateur" (onUserClicked)="SelectedUser($event)" />
        </li>
      }@empty{
        <li>No users available</li>
      }
    </ul>
  }
  <ul>
    <li>
      <span class="user-title">USER SPECIFICATIONS: </span>
      @if (usershown){
        <app-user-spesification [user]="clickedUser"/>
      }
    </li>
  </ul>
</main>